figure{
    height: 35rem;
}
.click {
    width: 70%;
    font-size: 4.5rem;
}

.click:hover{
    background-color: blue;
}


p{
    font-size: 3rem;
}

.result{
    font-size: 4rem;
}

.title{
    font-size: 3rem;
}

.ppt:hover{
    border: 0.3rem red solid;
}

.ppt img{
    width: 20rem;
    }

.ppt img:hover {
    width: 25rem;
    height: 9rem;
}